# Test instance
rocket.connectedacademy.io {
  root /var/www/html
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# Depictions of Addiction
addiction.connectedacademy.io {
  root /var/www/html
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# Mars - test instance
mars.connectedacademy.io {
  root /var/www/html
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# Pluto - test instance
pluto.connectedacademy.io {
  root /var/www/html
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# Machine Learning
ml.connectedacademy.io {
  root /var/www/html
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# Staging
staging.connectedacademy.io {
  root /var/www/staging
  tls admin@connectedacademy.io

  rewrite {
    to {path} {path}/ /index.html
  }
}

# API
api.connectedacademy.io {
  timeouts 10m
  proxy / api:3000 {
    websocket
    health_check /health
    health_check_interval 10s
  }
}

# Staging API
stagingapi.connectedacademy.io {
  timeouts 10m
  proxy / stagingapi:3000 {
    websocket
    health_check /health
    health_check_interval 10s
  }
}
